*{   
        font-family: "Cairo", sans-serif;
        font-weight: 1000;
}

center p i{
        font-family: "Cairo", sans-serif;
        font-weight: 700;
        font-size:400;
}


/* styles.css */

body {
        font-family: Arial, sans-serif;
    }
    
    footer {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
    }
    
    .contact-section {
        margin-bottom: 20px;
    }
    
    .contact-section h2 {
        color: #333;
    }
    
 