
 body {
  font-family: Arial, sans-serif;
  margin: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-section h2 {
  color: #333;
}

html, body {
  height: 100%;
  margin: 0;
}

.offcanvas {
  height: 100%;
  overflow-y: auto;
}

.offcanvas-body {
  height: 100%;
  overflow-y: auto;
}
